.card{
    border-radius: 10px !important;
    overflow: hidden;
    border: none !important;
    box-shadow: #00ADB5 0px 1px 3px, #00ADB5 0px 1px 2px;
    transition: all 0.3s;
    background-color: #222831 !important;
    color: #cfcfcf !important;
}
.card:hover{
    box-shadow: #00ADB5 0px 5px 15px;
}

.card-footer{
    border: none !important;
}

.card hr{
    width: 90%;
    margin: 0 auto !important;
    padding: 0;
}

.readmore span{
    margin-left: 5px;
}
.readmore:hover{
    cursor: pointer;
    color: #00ADB5;
}

.myarticleitemLink{
    color: #cfcfcf;
}